doctype
html
	head
		title=pageTitle
		link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='css/style.css')
	body
		div.title	列表
		div.list
		script(src="js/jquery-2.1.4.min.js")
		script(src="js/index.js")